@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 20px;
    }

    h2 {
        text-align: center;
        color: #277582;
        padding: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        background-color: white;
    }

    th {
        background-color: #6abadeba;
        color: white;
    }

    .btn-exit {
        border: none;
        border-radius: 7px;
        padding: 10px;
        background-color: #dc3545;
        color: #fff;
        cursor: pointer;
    }
</style>

<h2>Onay Bekleyen Avans Talepleri</h2>

<table>
    <thead>
        <tr>
            <th>Çalışanın Adı</th>
            <th>Unvanı</th>
            <th>Birimi</th>
            <th>Talep Durumu</th>
            <th>Talep Oluşturulma Tarihi</th>
            <th>Talep Tutarı</th>
            <th>İstenilen Tarih</th>
            <th>Proje</th>
            <th>Detay</th>
            

        </tr>
    </thead>
    <tbody>

        <tr>
            <td>1000</td>
            <td>2023-01-01</td>
            <td>2023-01-01</td>
            <td>A projesi</td>
            <td>A projesi</td>
            <td>A projesi</td>
            <td>A projesi</td>
            <td>A projesi</td>
            <td>A projesi</td>

            

        </tr>

    </tbody>
</table>

<button class="btn-exit">Çıkış</button>
