@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 20px;
    }

    #main-container {
        display: flex;
        justify-content: center;
    }

    .card {
        max-width: 48%;
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    table, th, td {
        border: 1px solid #ddd;
    }

    th, td {
        padding: 10px;
        text-align: left;
        background-color:white;
    }

    th {
        background-color: #6abadeba;
        color: white;
    }

    .exit-button {
        border: none;
        border-radius: 7px;
        padding: 10px;
        background-color: #dc3545;
        color: #fff;
        margin-top:5px;

    }

    #TopText{
        display:flex;
        justify-content:center;
    }
</style>
<div id="TopText">
    <h2>Avans Talebi Tarihçesi</h2>

</div>

<div id="main-container">
    <div class="card">
        <p>Talep No: </p>
        <p>Talep Oluşturulma Tarihi: </p>
        <p>Alınmak İstenen Tarih: </p>
        <p>Projeler: </p>
        <p>Açıklama: </p>
    </div>

    <div class="card">
        <p>Talep Edilen Tutar: </p>
        <p>Onaylanan Tutar: </p>
        <p>Son Durumu: </p>
        <p>Makbuz No: </p>
        <p>Avans Geri Ödeme Durumu: </p>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>İşlem No</th>
            <th>Durum</th>
            <th>İşlem Zamanı</th>
            <th>İşlemi Yapan</th>
            <th>Sonraki Aşama Kullanıcısı</th>
            <th>Sonraki Durum</th>
            <th>Onaylanan Tutar</th>
            <th>Ödeme Yapılacak Tarih</th>
        </tr>
    </thead>
    <tbody>
    <td>1000</td>
    <td>2023-01-01</td>
    <td>2023-01-01</td>
    <td>A projesi</td>
    <td>A projesi</td>
    <td>A projesi</td>
    <td>A projesi</td>
    <td>A projesi</td>
    </tbody>
</table>

<button class="exit-button">Çıkış</button>